.home-container{
    padding-top: 8vh;
    height: 92vh;
    display: flex;
}

.filters-container{
  min-width:350px;
  border-right: 3px solid #4aa130;  
}

.movies-container{    
    width: 100%;
    padding: 20px 10px;
    overflow-x: hidden;    
}

.filter-container{ 
    height: 50%;   
}

.filter-title{ 
    display: inline-block;   
    padding: 10px 0;
    color:#4aa130;
    border-bottom: 5px solid white;
    margin-left: 14px;
}

.filter-row{
    
    margin-top: 10px;    
    display: flex;
    justify-content: space-around;
}

.filter{
    text-decoration: none;
    color:#4aa130;
    background-color: whitesmoke;
    padding: 10px 0;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.toggle-button{
    display: none;
}

@media screen and (max-width: 992px){
    .filters-container-md{
        min-width: 100px;
        width: 100px;
    }

    .filter-container-md{
        display: none;
    }
      
    .toggle-button{
        display: block;
        cursor: pointer;
        font-size: 25px;
        color: #4aa130;
        text-align: center;
        padding: 10px 0;
    }   
}