.carousel-container{
    border: 1px solid #4aa130;  
    padding: 0 10px 10px 10px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;    
    background-color: whitesmoke;
    margin-bottom: 20px;
}

.carousel-title{
    padding: 10px;
    border-bottom: 1px solid #4aa130;
    margin-bottom: 10px;  
}

.carousel-chevron{
    padding: 10px;
    border-radius: 5px;
    background-color: #4aa130;
    color: whitesmoke;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.8;
}

.carousel-item{
    text-align: center;
}